* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 100%;
    overflow-x : hidden;
}

.ITransition {
    transition: all 1000ms ease-in-out;
}
.cursor-pointer {
    cursor: pointer;
}

.react-icon{
    color : rgb(76, 177, 218) !important;
    filter: brightness(1.3);
}

.react-icon svg:hover{
    transition: all 3000ms ease-out;
    transform: rotate(360deg);
}

.react-icon svg:not(:hover){
    transition: all 3000ms ease-out;
    transform: rotate(0deg);
}

